<a href="https://colab.research.google.com/github/areola-joshua/Facie-Classification/blob/main/Python_Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World!')

Hello World!

### 1. Variable

In [ ]:
#Definition

"""
Variable are "empty buckets" which we assign value to and are otherwise saved in certain memory space. example below shows how
to implement variable in python.
"""

In [ ]:
a = 2

In [ ]:
print(a)

2

In [ ]:
b = 3

In [ ]:
b-a

1

`Input Methods`

In [ ]:
c = input('enter a number')
print('the number you entered is: ', c)

d = int(c)
e = d-a
print(e)

enter a number4
the number you entered is  4
2

New Line, Tabs in Python

In [ ]:
print('My name is \n Areola Joshua')

My name is
 Areola Joshua

In [ ]:
print('My name is Areola \t Joshua')

My name is Areola 	 Joshua

## commenting in Python

######  As the name implies, as a proffesional, it is used to write the heading of a piece of code and also to outline a line of code while debbugging

In [ ]:
# this is a comment...this line doesn't run even in codes. e.g.

a = 3
#b = 4
print(a)
print(b)

3

NameError: name 'b' is not defined

In [ ]:
"""
Multi line comment, this won't run too
"""

### Variable

In [ ]:
# Variable Rules

"""
1. variable does not start with number e.g 2num
2. let your naming be conversant with the code or function you intended
3. variable naming in python is case sensitive. i.e, Same is not same
4. well, your variable naming can be as long as 225 characters
"""

'\n1. variable does not start with number e.g 2num\n2. let your naming be conversant with the code or function you intended\n3. variable naming in python is case sensitive. i.e, Same is not same\n'

### Python as a Calcilator

In [ ]:
"""
Mathematical operators in Python include:
- Addition +
- Subtraction -
- Multiplication *
- Division:
            -Normal /
            -Modulus %
            -Double line //
"""

In [ ]:
a = 2
b = 3

In [ ]:
a + b

5

In [ ]:
b - a

1

In [ ]:
print('a multiplied by b is ',a*b)

a multiplied by b is  6

In [ ]:
# Run the below code on your Jupyter, or vscode, Pycharm or Pydroid

In [ ]:
num1 = int(input('enter first value: '))
num2 = int(input('enter second value: '))

#lets do some arithmetics
c = num1 + num2
d = num1 - num2
e = num1 / num2
f = num1 // num2 # watch this output, what do you notice
g = num1 % num2  # and this too
h = num1 * num2

In [ ]:
# A Calculator--simple

In [ ]:
num1 = int(input('enter first value: '))
operator = input('enter you operator: ')
num2 = int(input('enter second value: '))

if operator == '+':
    print(num1 + num2)
elif operator == '-':
    print(num1 - num2)
elif operator == '/':
    print(num1 / num2)
elif operator == '*':
    print(num1 * num2)
else:
    print('invalid input')

In [ ]:
# A Calculator--medium

In [ ]:
num1 = int(input('enter first value: '))
operator = input('enter you operator: ')
num2 = int(input('enter second value: '))


if num1 and num2 != 0:   #zero division
    if operator == '+':
        print(num1 + num2)
    elif operator == '-':
        print(num1 - num2)
    elif operator == '/':
        print(num1 / num2)
    elif operator == '*':
        print(num1 * num2)
    else:
        print('invalid input')
else:
    print('invalid number to operate')

In [ ]:
# A Calculator--proffessional

In [ ]:
from math import *

num1 = int(input('enter first value: '))
operator = input('enter you operator: ')
num2 = int(input('enter second value: '))


if num1 and num2 != 0:  #Zero division
    if operator == '+':
        print(num1 + num2)
    elif operator == '-':
        print(num1 - num2)
    elif operator == '/':
        print(num1 / num2)
    elif operator == '*':
        print(num1 * num2)
    elif operator == 'sin':
        print(sin(num1), sin(num2))
    elif operator == 'cos':
        print(cos(num1), cos(num2))
    elif operator == 'tan':
        print(tan(num1), tan(num2))
    else:
        print('invalid input')
else:
    print('invalid number to operate')

### Relation Operators

In [ ]:
"""
This include:
- Boolean - True and False
- Greater than >
- Lesser than <
- Equality ==
- Greater and Equals to >=
- Lesser and Equals to <=
- Not Equals to !=
"""

Range in Python

- **Range** is a type of generator in Programming Languages, including Python. It is used to *generate* numbers between given value intervals, you can check range by typing: `dir(range)`, you can also check **range** by typing `range?` or `help(range)`.

Below are some lines of code to show you how **Range** is being called or used.

In [ ]:
range(10) #By default it starts counting from zero

range(0, 10)

In [ ]:
#to get the values type this:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#It should have been like this:
list(range(0, 10)) #Here 0 - start,  10-stop

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#let's try this again:
list(range(3, 15))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
#Good, Lets move forward:
list(range(0, 20, 2)) #Here, 0-start   20-stop,   2-step

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
from math import pi   #using pi from maths Module or simply maths Library
import numpy as np  #importing another library thas has pi

In [ ]:
pi  #Most of us knew pi to be 3.1415...

3.141592653589793

In [ ]:
sin_range = np.linspace(0, pi, 50)  #linspace also works like range---wonderful, isn't it?

In [ ]:
sin_range

array([0.        , 0.06411414, 0.12822827, 0.19234241, 0.25645654,
       0.32057068, 0.38468481, 0.44879895, 0.51291309, 0.57702722,
       0.64114136, 0.70525549, 0.76936963, 0.83348377, 0.8975979 ,
       0.96171204, 1.02582617, 1.08994031, 1.15405444, 1.21816858,
       1.28228272, 1.34639685, 1.41051099, 1.47462512, 1.53873926,
       1.60285339, 1.66696753, 1.73108167, 1.7951958 , 1.85930994,
       1.92342407, 1.98753821, 2.05165235, 2.11576648, 2.17988062,
       2.24399475, 2.30810889, 2.37222302, 2.43633716, 2.5004513 ,
       2.56456543, 2.62867957, 2.6927937 , 2.75690784, 2.82102197,
       2.88513611, 2.94925025, 3.01336438, 3.07747852, 3.14159265])

**Enumerate** in Python

In [1]:
name = ['Areola', 'Joshua']

In [3]:
for i in enumerate(name):
  print(i)

(0, 'Areola')
(1, 'Joshua')

In [5]:
# From here, we see the function of enumerate as it shows the position of items in a list, another example:

In [7]:
i = range(20)
for j in enumerate(i):
  print(j)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)
(10, 10)
(11, 11)
(12, 12)
(13, 13)
(14, 14)
(15, 15)
(16, 16)
(17, 17)
(18, 18)
(19, 19)

In [9]:
alp = ['a', 'b', 'c', 'd', 'e']

for i in enumerate(alp):

  print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')